body {
    background: rgb(92, 219, 223);
    background: radial-gradient(circle, rgba(92, 219, 223, 1) 0%, rgba(189, 140, 185, 1) 100%);
}

.navbar {
    justify-content: center;
    width: 100%;
    height: fit-content;
    display: flex;
    background: rgb(77, 170, 173);
    background: linear-gradient(90deg, rgba(112, 149, 217, 1) 0%, rgba(189, 140, 185, 1) 51%, rgba(77, 170, 173, 1) 100%);
    opacity: 0.75;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    box-sizing: border-box;
}

.navbar img {
    height: 120px;
    width: 12 0px;
}

.navbar h1 {
    font-size: 48px;
}

.navbar a {
    text-decoration: none;
    color: #5c0e55;
}

.shadow {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}