<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="static/css/layout.css" />
    <link rel="shortcut icon" href="static\img\favicon.ico" type="image/x-icon" />
    <link rel="icon" href="static\img\favicon.ico" type="image/x-icon" />
    <title>Happy Anniversary</title>
    {% block head %}
    {% endblock  head %}
  </head>

  <body>
    
    <div class="navbar shadow">
      <img src="static/gif/navbar.gif" alt="gif">
        <a href="/">
          <h1>Happy Anniversary</h1>
        </a>
      <img src="static/gif/navbar.gif" alt="gif">
    </div>  

    {% block body %}
  
    
    {% endblock body %}
    
  </body>
</html>
