* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  background-color: #717171;
  background-image: url("../img/bg_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 32;
  justify-content: center;
  align-items: center;
}

.navbar {
  justify-content: center;
  width: 100%;
  height: fit-content;
  display: flex;
  background-color: #f4c2c2b4;
  border-radius: 15px;
}

.audio {
  display: hidden;
}

.navbar img {
  height: 100px;
  width: 100px;
}

.navbar h1 {
  font-family: Apple Chancery, cursive;
}

.slideText {
  height: auto;
  width: 600px;
  margin-left: 1cm;
}

.navbar a {
  text-decoration: none;
}

.mySlides {
  display: none;
  left: 30px;
}

/* Slideshow container */
.slideshow-container {
  justify-content: center;
  display: flex;
  top: 1cm;
  max-width: auto;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: .0;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}