* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  background-color: #717171;
  background-color: #F8C8DC;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 32;
  justify-content: center;
  align-items: center;
}

.btn {
  background: transparent;
  border: none;
}

.navbar {
  justify-content: center;
  width: 100%;
  height: fit-content;
  display: flex;
  background: rgb(77,170,173);
  background: linear-gradient(90deg, rgba(77,170,173,1) 0%, rgba(189,140,185,1) 51%, rgba(112,149,217,1) 100%);
  opacity: 0.75;
  border-radius: 15px;
}

.audio {
  display: hidden;
}

.navbar img {
  height: 100px;
  width: 100px;
}

.navbar h1 {
  font-family: Apple Chancery, cursive;
}

.navbar a {
  text-decoration: none;
  color: #5c0e55;
}

/* Slideshow container */
.slideshow-container {
  justify-content: center;
  width: fit-content;
  display: flex;
  top: 1cm;
  max-width: auto;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  background: rgb(77,170,173);
  background: linear-gradient(90deg, rgba(92,219,223,1) 0%, rgba(189,140,185,1) 51%, rgba(112,149,217,1) 100%);
  border-radius: 15px;
}

.slideText {
  height: auto;
  width: 600px;
  margin-left: 1cm;
  background: rgb(164,56,155);
  background: linear-gradient(90deg, rgba(164,56,155,1) 0%, rgba(61,139,142,1) 46%, rgba(109,139,194,1) 100%);
  border-radius: 15px;
  box-sizing: border-box;
  padding: 10px;
}

.mySlides {
  display: none;
  padding-left: 30px;
  padding-right: 30px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.scroll-image {
  width: 450px;
  height: 520px;
  overflow-x: hidden;
  overflow-y: auto;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: .0;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {
    font-size: 11px
  }
}