* {
  box-sizing: border-box;
}

@viewport {
  width: device-width; /* Set width to the device's width */
  zoom: 1.0; /* Reset zoom level */
}

body {
  font-family: Apple Chancery, cursive;
  background-color: #CBC3E3;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 32;
  justify-content: center;
  align-items: center;
}

.shadow {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.btn {
  background: transparent;
  border: none;
}

.navbar {
  justify-content: center;
  width: 100%;
  height: fit-content;
  display: flex;
  background: rgb(77,170,173);
  background: linear-gradient(90deg, rgba(112,149,217,1) 0%, rgba(189,140,185,1) 51%, rgba(77,170,173,1) 100%);
  opacity: 0.75;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  box-sizing: border-box;
}

.audio {
  display: hidden;
}

.navbar img {
  height: 120px;
  width: 12 0px;
}

.navbar h1 {
  font-size: 48px;
}

.navbar a {
  text-decoration: none;
  color: #5c0e55;
}

/* Slideshow container */
.slideshow-container {
  justify-content: center;
  width: fit-content;
  display: flex;
  top: 1cm;
  max-width: auto;
  position: relative;
  margin: auto;
  box-sizing: border-box;
  padding: 10px;
  background: rgb(92,219,223);
  background: radial-gradient(circle, rgba(92,219,223,1) 0%, rgba(189,140,185,1) 100%);
  border-radius: 15px;
}

.title {
  background-color: #BDB5D5;
  margin: auto;
  box-sizing: border-box;
  border-radius: 15px;
  width: auto;
  color: #5c0e55;
}

.message {
  justify-content: center;
  width: fit-content;
  margin: 10px;
}

.gallery {
  justify-content: center;
  margin: 10px;
}

.pictures {
  display: flex;
}

.slide-container {
  width: 300px;
  border-radius: 15px;
  box-sizing: border-box;
  justify-content: center;
  background: transparent;
  margin-inline: 10px;
  padding-top: 10px;
}

.mySlides {
  display: none;
  border-radius: 15px;
}

.mySlides img {
  border-radius: 15px;
}

.mySlides::before {
  content: "";
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: relative;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 2s;
}

.fade-out {
  animation-name: fade-out;
  animation-duration: 2s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.scroll-image {
  width: 400px;
  height: 525px;
  overflow-x: hidden;
  overflow-y: auto;
  display: block;
  border-radius: 15px;
}

.modal {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: center;
  position: fixed;
}

.modal::before {
  content: ""; /* Create a pseudo-element to act as the background */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('your-background-image-url.jpg'); /* Adjust with your background image */
  filter: blur(8px); /* Apply blur filter only to the background */
  -webkit-filter: blur(8px); /* For compatibility with Safari */
  z-index: -1; /* Ensure the pseudo-element stays behind the content */
}

.modal button {
  background-color: #eed0eb;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@keyframes fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: .0;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 600px) {
  .text {
    font-size: 11px
  }
  .navbar {
    flex-direction: column;
    align-items: center; 
    padding: 10px; 
  }
  .slideshow-container {
    flex-direction: column; 
    align-items: center; 
  }
  .articles {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
  @viewport {
    width: 600px;
  }
}



article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 16px;
  box-shadow: none;
  background: #fff;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Bebas Neue", cursive;
  font-size: 1.9rem;
  letter-spacing: 0.06em;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.1;
  --title-color: #28666e;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


/************************ 
Generic layout (demo looks)
**************************/

*,
*::before,
*::after {
  box-sizing: border-box;
}

.articles {
  display: grid;
  max-width: 900px;
  height: 560px;
  margin-inline: auto;
  padding-inline: 18px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}